<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainPage.css">
    <title>Death Note</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')
    </style>
</head>

<body>
    <nav id="navigation">
        <img src="../images/logo/website Logo.png" alt="Logo" id="logo">
        <ul>
            <li>Home</li>
            <li>Contact Us</li>
            <li>About</li>
            <li><input type="search" placeholder="Search Chapters"></li>
        </ul>
    </nav>
    <div id="mainContent">
        <h1>Free Math Notes For You</h1>
        <p>We provide Math notes with good handwriting which can help you in your exam!</p>
        <button class="allButtons">Access our whole library</button>
    </div>
    <hr class="hrSpacing">
    <div class="popularNotes">
        <h2>Our Popular Math Notes</h2>
        <div class="notesTable">
            <div class="tables">
                <img src="../images/notes/notes1.jpg" alt="Popular note 1">
                <p>Chapter Name</p>
                <br>
                <p>Likes: Likes count</p>
                <br>
                <p>Comments: Comments count</p>
                <br>
                <button class="allButtons">Open Notes</button>
            </div>
            <div class="tables">
                <img src="../images/notes/notes2.jpg" alt="Popular note 2">
                <p>Chapter Name</p>
                <br>
                <p>Likes: Likes count</p>
                <br>
                <p>Comments: Comments count</p>
                <br>
                <button class="allButtons">Open Notes</button>
            </div>
        </div>
    </div>
    <hr class="hrSpacing">
    <div class="aboutUs">
        <h2 class="h2Style">-Why to prefer us and about us</h2>
        <p id="aboutUsPara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias tempora odit distinctio
            impedit cumque vel, atque placeat dolorem voluptatum quo itaque qui fugit ex expedita incidunt sapiente non!
            Sint, cumque! Molestiae accusamus exercitationem, inventore expedita blanditiis esse suscipit natus
            voluptatibus? Consequatur veniam unde mollitia veritatis, delectus at natus rerum error voluptate sit, minus
            animi, autem dolore ad. Explicabo officia nam non possimus sed obcaecati excepturi enim, dicta reprehenderit
            mollitia aliquam sunt <b> perspiciatis autem placeat dolores earum</b> est accusantium sapiente fugit atque
            exercitationem molestiae voluptatibus. Soluta, aut perferendis, assumenda repellat a facere excepturi
            delectus explicabo magni vel quasi alias iusto. Reiciendis aliquam non dolor delectus culpa tempora placeat
            quis aut maxime magni reprehenderit, perferendis debitis enim facilis doloremque unde magnam fugit veniam
            est commodi. Et, non iure reprehenderit aliquam voluptas ea quidem illum velit quisquam quos iste quae a
            fugiat eum distinctio debitis? Beatae totam quam quasi quo voluptates eveniet assumenda, autem alias hic
            doloremque natus in deserunt cumque sint sapiente nam a explicabo harum recusandae culpa nesciunt
            dignissimos quod, cum architecto? Quam exercitationem modi dolorem provident reiciendis doloremque,
            excepturi, quisquam quae mollitia suscipit iusto. Impedit temporibus dolores blanditiis, iusto delectus
            veniam possimus iste reiciendis aliquam explicabo officiis voluptate quo repellat, id culpa voluptatem ullam
            maxime voluptatum, dignissimos eum ea eius ab doloremque! Ex officia delectus asperiores laboriosam aut
            quaerat quisquam.</p>
    </div>
    <hr class="hrSpacing">
    <div class="contactUs">
        <p id="contactUsHeading">Give Your Opinion With Full of Freedom</p>
        <div class="contactUsForm">
            <form action="#">
                <input type="text" placeholder="Your Name" required>
                <br>
                <input type="email" placeholder="Your Email" required>
                <br>
                <input type="text" placeholder="Write Message..." required>
                <br>
                <button>Submit</button>
            </form>
        </div>
    </div>
    <footer>
        <hr>
        <div class="footerContent">
            <div class="footerContactUs">
                <h3>Contact Us</h3>
                <br>
                <p>Email nameste380@gmail.com</p>
                <br>
                <p>Phone +91 999067530</p>
            </div>
            <div class="followUs">
                <img src="../images/logo/30-305122_new-instagram-logo-png-transparent-background.png" alt="instagram">
                <br>
                <img src="../images/logo/GitHub-Mark-ea2971cee799.png" alt="github">
                <br>
                <img src="../images/logo/facebook-logo-2019.png" alt="faceBook">
            </div>
        </div>
    </footer>
</body>

</html>